body{
  background: #ddd;
  padding-bottom: 20px;
}

.jd_container{
  width: 100%;
  min-width: 320px;
  max-width: 640px;

  margin: 0 auto;
  background: #eee
}

.jd_header{
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
}

.jd_header_box{
  position: relative;
  width: 100%;
  height: 40px;
  min-width: 320px;
  max-width: 640px;

  margin: 0 auto;

  background: rgba(242, 26, 76, 0);
}
.jd_header_box a {
   position: absolute;
  top: 0;
}
.jd_header_box .icon_logo{
  left: 0;
  display: block;
  width: 60px;
  height: 40px;
}
.jd_header_box .link_login{
  right: 0;
  display: block;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.jd_header_box .js_search{
  width: 100%;
  height: 40px;
  padding: 5px 50px 5px 10px;
  /*position: relative;*/
}
.jd_logo_span{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAaCAYAAAA9rOU8AAAB7UlEQVRIicXXT4hNYRjH8c+dblHUTVG6mtEkUSJ/J1MjG2ahiIWNtRILFigLK6WUkShSipWNFbEwKZqysDDyJxYjlMY0RU0jU5e4Y/Gek3dOM+fWzL1zfnXq+T3ved/zPe973nOeUxru7pGjo7ge+R14lsTr8WaGfj/xAyMYwgs8xau8i5XzGuegxclRxVYcSvIfhJu7iYlsp7YWwcyk1biM99iTbWzmzJzFoyQuYRlWYCN6E5BUHXiI07jUCpjPGMxp345z2J34EvowhlvM7zI9F2boBCaj/DV0zjdMqqs4E/mFOF8UDGF5Xkb+IJYXBVPHxciXsb8oGHiAX5HfWSTMhKlv8HVFwsDHKK4WDTMWxZWiYaaoaJglUTxeNMyqKB5pBFNpIcgibIj8u0YwC1oIszcz/kAjmI6M/9YkkDahfEj1B/cawWyL4ppQJjRDp7A58ncxmgdzQKhzUz3B7yaAHMeFyNeEwmzarV3GEdzJ5G/MEaIL/bgiFFapjklmvCwsRQUrsUmYkWpmoPvChy1PndgS+aVoF3ZML9Zkzq/jJG6nidJwd8+kfA1gn/DrESvvV6WRvuAwHsfJvGdmVHjQdk0DMlsNCWXn2iwI/wvyGr7jE14LVX4//s7ignWMCyXC1wRgUNgAb/M6/gPrElp1gukJzAAAAABJRU5ErkJggg==) no-repeat;
  width: 18px;
  height: 13px;
  display: inline-block;
  background-size: 18px 13px;
  position: absolute;
  top: 14px;
  left: 22px;
}
.jd_search_span{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAB/0lEQVRIiaXVTUhVQRjG8d+1Mm2TRWALoXLRh4i1yPbRIoNw0SJwGS1KKSqLCgJpU1BBughKaJ2LwEUGfe7aFQR9aUEUVOSuDyIuWlKLM2PT6VzJex848M4z5/3PzHvOzJSGh4dV0DL0YAc6sBLT+IDXuIURfK4EWFjgNeAIjqMp11eP9eHZiTO4gEGU86C6XHs1HuFsAbhITWGAhyG3IrwFD9CeeOPoR1tYUUOI+0NfVHvIbSmCN2A06SyjT1brQUxgKjwTwevAQdl3iJMbRWMefhidIZ5GNy5jJr/URDO4JKt9HKAzsGbhy3EySTqK+3NA87onK1PUicBUJ/vdloaOF2HG89WVkCuweiJ8e/LSVXOXopJmQm5UV4RvSsw7VYCjbifxxghvTsw3NcDT3OYIn0rMXzXA093+M8InE7O1BviqJJ6M8FeJ2VUDfGsSP4nw9CPuxYIqwCX0Ju27ET6Cr8Fsx/4q4H3+nEnfcT3CP+Fc8uJFbJsHeDPOJ+2hwJw9W4bwLMT1GMM+/x7JqUqynTiGJcF7LjuCpfAyduFjaDfKtvRTHMI6LMJirJXV9zGuyW6oqBZZieqhlLvm1uCGv8/0ajSO7vyy32ILTuHLf0C+Kd7VbRgoqmlZds214gBu4h1+yHbz++D1yq62DThWNJl8WWrRCpzGHrzE7t8cqmerthhqyQAAAABJRU5ErkJggg==) no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: 12px 12px;
  position: absolute;
  top: 15px;
  left: 50px;
}
.jd_header_box .js_search input{
  width: 100%;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  padding-left: 60px;
  padding-right: 10px;
}

.jd_banner{
  height: 180px;
}
.jd_banner img{
  height: 180px;
}
.jd_nav{
  overflow: hidden;
  background: #fff;
  padding-top: 8px;

}
.jd_nav_item{
  width: 20%;
  display: inline-block;
  float: left;
}
.jd_nav_item a{
  width: 100%;
  height: 100%;
  display: block;
}
.jd_nav_item img{
  width: 50%;
  height: 50%;
  margin-left: 25%;
  display: block;
}
.jd_nav_item p{
  text-align: center;
  padding: 3px 0 8px;
}


.jd_product{
  background: #fff;
  margin-top: 5px;
  height: 220px;
  box-shadow: 0 1px 1px #dfdfdf;
}